/* .app {
  height: 100vh;
  overflow-y: scroll;
} */

/* .mainContainer {
  display: block;
  flex-direction: row;
  align-items: center;
  padding: 24px 16px;
  gap: 32px;
} */

/* .jobBarLong {
  width: 1400px;
  height: 164px;
  border-radius: 8px;
  padding: 24px, 16px, 24px, 16px;
  gap: 32px;
  background-color: #FFFFFF;
} */

/* .description {
  padding-left: 127px;
  padding-top: 24px;
  width: 712px;
  height: 50px;
  font-family: 'Proxima Nova';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
  letter-spacing: -0.625px;
  color: #3A4562;
} */